.WeatherForecast {
  text-align: center;
}

.WeatherInfo canvas {
  position: relative;
  margin-bottom: 52px;
  margin-left: 178px;
  margin-top: -188px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 2px;
  font-size: 14px;
}

.WeatherForecast-temperature-max {
  font-size: 14px;
}

.WeatherForecast-day {
  padding-bottom: 12px;
}
